<ng-container *ngIf="isBookRoute(); else blogRoute">
    <app-header></app-header>
  </ng-container>
  <ng-template #blogRoute>
    <ng-container *ngIf="isBlogRoute(); else profileRoute">
      <app-header></app-header>
    </ng-container>
  </ng-template>
  <ng-template #profileRoute>
    <app-header></app-header>
  </ng-template>
  
  <!-- Router Outlet -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
  <!-- App Command Bar -->
  <app-command-bar></app-command-bar>
  